@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
body {
  background-image: url('../img/logo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.overlay{
  background-color: #ffffff60;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
}
.content{
  position: absolute;
  width: 90vw;
  height: 90vh;
  background-color: #64E2B760;
  border-radius: 8px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.content > h5 {
  font-size: 26px;
  font-family: "Tagesschrift", system-ui;
  margin: 20px;
}
ol {
 display: flex;
 flex-direction: column;
 gap: 38px;
}
li {
  border-bottom: 1px dashed;
  width: 75vw;
}
a {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.img > h4 {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Bungee", sans-serif;
  font-size: 14px;
}
 .img > img {
  width: 20vw;
  border-radius: 50%;
  border: 1px solid;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
}