@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
body {
  background-image: url('img/logo2.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.overlay{
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.sticky {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 99;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 18vh;
  left: 2vw;
  width: 96vw;
  height: 10vh;
  border: 2px solid;
  border-radius: 10px;
  background-color: #64E2B7;
}
.header > h3 {
  font-size: 28px;
  font-family: "Bungee", sans-serif;
  text-align: center;
  margin: 5px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  height: 40vh;
  width: 90vw;
  left: 5px;
  margin: 5px;
  padding: 10px;
  border: 2px solid;
  background-color: #64E2B760;
  border-radius: 10px;
}
.content > h4 {
font-family: "Shadows Into Light", cursive;
font-size: 30px;
margin: 20px;
text-shadow: ;
}
.content > a {
  font-family: "Tagesschrift", system-ui;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  background-color: #64E2B7;
  border: 2px solid #5F8B4C;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 30px;
  margin-bottom: 10px;
  transition: transform 0.2 ease;
}
.content > a:active {
transform: scale(1.2);
}
.content > a:hover {
  
}
