@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
body {
  background-color: #AEEA94;
  color: #000;
  margin: 0px;
  padding: 0px;
}
.overlay {
  background-image: url('img/quran.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: min(100%, 430px);
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
.blur{
  background-color: ;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.content {
  position: relative;
  width: 95%;
  min-height: 75%;
  background-color: #ffffff90;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.header{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 60px 60px;
  gap: 0px;
  margin: 3px 0;
  padding: 0px;
  width: 100%;
  position: absolute;
  top: 0%;
}
.header > .judul > h3 {
  font-family: "Bungee", sans-serif;
  text-align: center;
  font-size: 26px;
  margin: 0px;
}
.header > .logo > a > img {
  width: 45px;
  border-radius: 50%;
  border: 1px solid;
}
.header > .togle {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header > .judul {
  grid-column: 1/4;
  grid-row: 2
}
.header > .logo {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header > .togle > a > img {
 width: 40px;
}
.header > .togle > a {
  font-size: 8px;
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  align-items: center;
}
 .content > a {
   margin: 20px;
   color: #000;
   text-decoration: none;
   font-family: "Tagesschrift", system-ui;
   font-size: 20px;
   border: 1px solid;
   border-radius: 10px;
   width: 80%;
   height: 10%;
   text-align: center;
   background-color: #33A1E090;
   justify-content: center;
   display: flex;
   align-items: center;
   flex-direction: column;
   position: relative;
   box-sizing: border-box;
 }
 .content > a > p {
   margin: 0px;
   font-size: small;
 }
 a {
   transition: transform 0.2ease;
 }
 a:active {
   transform: scale(1.2);
 }
